:root {
    background: linear-gradient(135deg, #1f2933, #111827);
    color: #e5e7eb;
    height: 100svh;
}

*:before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

